-r shared-requirements.txt
# sha256: aoy0QBER4BG1ecjFKlHNq5cAQcxUOBS72Vd6RSn-HNs
BeautifulSoup==3.2.1
# sha256: LRy1WDkWc99RCaP-XoT95hYO3IskGz6xmrPTq-m43zE
cef==0.5
# sha256: A1gwhyCNozcxug18_9RjJTmJQa1rctOt-AnP7_yR0PM
https://github.com/jsocol/commonware/archive/b554418.zip#egg=commonware
# sha256: BTWn4nAUh0snrjpNM-h0njRb36YnZhlSCLeZa_EQBoI
cssselect==0.9.1
# sha256: m3_LmdICiRiewPHgbR0r7TtHcuOjk_3b-wBup8P5v68
Django==1.5.6
# sha256: 53T3tTehlADKaH9I01KrdGFzKsQThd2I_a1Hie-tKcU
django-appconf==0.6
# sha256: 1BuH0etCTRi6Lb5zMTHp2HPnCcwR63PaJIw07sHV7W4
django-browserid==0.10.1
# sha256: UE5EGWeseGBKs18DABj8mm-icOam6YRx0jEf139wZ0s
django-compressor==1.4
# sha256: nc6AOA28EXa-GdHOg2C5QC4d5SpHNG_3WeV-3zgxHRw
https://github.com/django-nose/django-nose/archive/10475f1.zip#egg=django-nose
# sha256: uDA8a2lQGB1uEg_sdygAueYurQsQAD6-utf81kFmE9g
https://github.com/mozilla/django-session-csrf/archive/f00ad91.zip#egg=django-session-csrf
# sha256: 0p07MkSEjnM0DFU_lgrFzRSlNmEa7tbcC7rj0bZJvZg
https://github.com/fwenzel/django-sha2/archive/3ba2b47.zip#egg=django-sha2
# sha256: eMMXu8KuFpoT6MW9MarmEau3bCZKZMPf1xOR5nZ5Jd8
django-ratelimit==0.3.0
# sha256: nrxAU2-bxTW8IhTg8Kbxfm6ylrHh2OxNKOqeAyIPA0Q
django-waffle==0.9.1
# sha256: ezt0vf24BIR-7Lxcap02St7FFYx-HlyK-dgjh88iYMg
https://github.com/mozilla/funfactory/archive/6b797bb.zip#egg=funfactory
# sha256: o71QUd0X6dUOip8tNiUI6C1wYwEP3AbV4HzjYI54D-Y
jingo==0.7
# sha256: IvlnXkLcZAxEadT30hC67LXmlYI6-VTIE9UckwI1Z10
Jinja2==2.5.5
# sha256: -fUE8yboUH-tNZdMGuX5HUpzX7M-VWtu2PXsEGBUpHM
https://github.com/mozilla/nuggets/archive/ce50688.zip#egg=nuggets
# sha256: HDW0rCBs7y0kgWyJ-Jzyid09OM98RJuz-re_bUPwGx8
ordereddict==1.1
# sha256: cyu7F1hQihKEtT_Nzp2WqlPLY86T1Us40ob0KBoSrCQ
pyquery==1.2.6
# sha256: B-lA57jFsdXYf3h9luYXt_gbsep2FZ4ZIvPHvzt0Y4Y
https://github.com/jbalogh/test-utils/archive/4ae9327.zip#egg=test-utils
