-r shared-requirements.txt
# sha256: SYQkQdJNiNDs_DhobQIcs7G-56v8VB6fxzReRiDe6rY
Mako==0.7.3
# sha256: M57ATSCtnNzL_p843OYYLMUEznieXQ-WR-qnUvD5UwA
MarkupSafe==0.15
# sha256: EWRYQrqOyYaujPvkxsrP9cNfD0Unq_T1WBrotK1JwLY
Paste==1.7.5.1
# sha256: vIdnT1rJli4O_pbwYLoioH4sYfvr9THvw4O4LbWykew
SQLAlchemy==0.9.4
# sha256: Wgo2x0fCj1A2asBG2kP1AFXITR2djtPAm5tbmmxRaDI
alembic==0.6.4
# sha256: 3a9LCmGDNaMrZmTUrgOKHej7raOyUDP5AhUQ7Ss5QaQ
argparse==1.2.1
# sha256: r1v0XaSpFtsrY4z_2enWZoszAg4rjKn4ZNt5tJMxxv8
poster==0.8.1
# sha256: nPgCbuv2CxrIy3j0q_87DfYNM3Co2ZHCrArz4F8lRgg
sqlalchemy-citext==1.0-2
# sha256: BZUlD7GUkBbcb9xzu2HBwvsrUiPjtmZxamnVXjnuGlU
configman==1.2.6
# sha256: UV_5I0YlkugyHfi0jEfjQo-NQG7iK43ne--WnRrxEXE
configobj==4.7.2
# sha256: oz42dZy6Gowxw8AelDtO4gRgTW_xPdooH484k7I5EOY
hbase-thrift==0.20.4
# sha256: Zm_VIvShBZ1bi0mW5Xb6eGL1BVKOEc8e9VRjEcYMPk0
pika==0.9.8
# sha256: SLcCp8pHnhvCwae4GHWgfUdCmBMmBZk-LLl59eCCd9c
psycopg2==2.4.5
# sha256: 2upIE6eJSfnxlBvixW1aviyZqFgjUMrwWYBPtleIrKU
pyelasticsearch==0.6.1
# sha256: cHay6ATFKumO3svU3B-8qBMYb-f1_dYlR4OgClWntEI
elasticutils==0.7
# sha256: K89b7bUyilYzBFp9RnhNM5POlAyUnAkMr111ttMWNGY
simplejson==2.5.0
# sha256: RdsWgxKmgg_XhpfHtv0BlvOvkiyOvIhUDt0Nb6_tVU0
statsd==2.1.2
# sha256: 1VJK5SO7ngnFe829HvriwofSBgNojqMfYCDtGApImvA
suds==0.4
# sha256: gLPAyGSc5ZC9JYcVUPZnDqvi6YpdHvXkD5K4hZfYCB0
thrift==0.8.0
# sha256: xF7Ftf6qulO7rmndlxwoGDLxMy1ZSc1uXKJ3R_6SJWo
web.py==0.36
# sha256: TETsP5_wV7jHtMeL7KX92HEGAOqaHfQvMb_Lri8Fne4
python-dateutil==2.1
# sha256: lYZcSuutNwxTiQcnhSD-4T52C-Z8ceuYmnqfsNJm_pA
happybase==0.7
# sha256: gUyn_VPMe5xD3xcySB-hAlYu8O4Unob8uvc3o_NW9Yc
crontabber==0.12
# sha256: vP9eVeRaj-DDdx6AVgIdSHFN6WQh0e3uw20S9zdQOZc
# sha256: wVmeZhdKbKtjPLa_XsJZDM4QTCPRY5XAK9pe2T6nlHw
boto==2.28.0
# sha256: LvU9cTRTDj8ZMnNSIRpz3us9QQa1uFewOwMfonIteEU
https://github.com/BradRuderman/pyhs2/archive/48d22aff9d23db1221ad913670aaad90a73bcbc7.zip#egg=pyhs2
